img {
    width: 68px;
    border-radius: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    margin: 1.6rem auto;
    width: 60vw;
}
button {
    height: auto;
}
#edit-gear {
    width: 42px;
}
.login {
    display: flex;
    width: 120px;
    height: 36px;
    border-radius: 20px;
    border: none;
    background-color: #8ECC7B;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}