img {
    width: 68px;
    border-radius: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    margin: 1.6rem auto;
    width: 60vw;
}
button {
    height: auto;
}
#edit-gear {
    width: 42px;
}
