#logo {
    width: 142px;
}
button {
    display: flex;
    width: 120px;
    height: 36px;
    border-radius: 20px;
    border: none;
    background-color: #8ECC7B;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
form {
    display: flex;
    flex-direction: column;
    width: 224px;
    gap: 1.5rem;
    align-items: center;
}
main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 89px;
}