/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 12px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
button {
    border: none;
    background-color: unset;
}
button, a {
    width: 184px;
    height: 36px;;
    border-radius: 10px;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}