<body>
    <div id="back-btn">
        <a onclick="history.back()" class="save-btn">Back</a>
    </div>
    <main>
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <input class="input-fields" type="text" formControlName="username" placeholder="Username">
            <button class="new-btn" type="submit" [disabled]="searchForm.invalid" id="search">Search</button>
        </form>
        <div id="search-results">
            <article id="list-container" #listContainer>
                @if(error) {
                    <p>{{ error}}</p>
                }
                @for (list of lists; track list; let i = $index) {
                  <div class="list-card" [attr.id]="'list-card-' + i" #listCard>
                      <a
                        [routerLink]="'/items/'+ list._id"
                        class="list-text"
                        [attr.id]="'list-text-' + i"
                        [attr.title]="'Go to list ' + list.title"
                      >
                      <p>
                          {{ list.title }}
                      </p>
                      <p>
                          {{list.description}}
                      </p>
                      @if (list.username) {
                          <p>
                              {{list.username}}
                          </p>
                      }
                      </a>
                      <img src="wishlist.png" alt="woman on her phone">

                      </div>
                    }
            </article>
        </div>
    </main>
</body>